body {
  text-align: center;
  background-image: url("../images/WUV-bg.jpg");
}

.content {
  width: 100%;
  height: 100%;
  position: fixed;
}

.wuv-logo {
  width: 200px;
  margin: 20px 0 50px 0;
}

h1 {
  font-family: "Open Sans", sans-serif;
}

.title {
  margin-bottom: 30px;
  color: black;
  font-size: 35px;
}

.contact__btn {
  background-color: rgba(34, 51, 59, 0.8);
}

.karte {
  width: 300px;
  height: 200px;
  padding: 20px;
  background-color: rgba(34, 51, 59, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto;
  margin-top: 20px;
  border-radius: 5px;
}

.karte__logo {
  width: 200px;
  align-self: center;
}

.karte__btn {
  background-color: #ecba82;
}

footer {
  padding: 10px 0 10px 0;
  display: flex;
  justify-content: center;
  bottom: 0;
  color: black;
}

.footer__links {
  color: black;
  margin-right: 10px;
}

.footer__links:hover {
  color: #ecba82;
}

@media (max-width: 571px) {
  .title {
    font-size: 25px;
  }
}
