body {
  text-align: center;
  background-image: url("../images/WUV-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.content {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wuv-logo {
  width: 350px;
}

footer {
  padding: 10px 0 10px 0;
  display: flex;
  justify-content: center;
  color: rgba(0, 0, 0, 0.479);
}

.footer__links {
  color: rgba(0, 0, 0, 0.479);
  margin-right: 10px;
}

.footer__links:hover {
  color: #ecba82;
}

@media (max-width: 571px) {

  body {
    background-position: 67%;
  }
}
